@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 100vw; */
  background-color: #0000DE;
  background-image: url("./src/images/Big_VH_Logo.png");
  background-size: auto 82vh;
  background-position: bottom 20px right 100px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}


/* Use a media query to scale the background image */
@media only screen and (max-width: 600px) {
  body {
    background-position: 0% 50%;
  }
}

/* normalize font sizes for h2 and p */
h2 {
  font-size: 2.3rem;
  font-weight: bold;
}
p {
  font-size: 1.2rem;
  font-weight: 400;
}

/* desktop layouts */
.headers {
  grid-template-columns: 55fr 15fr 15fr 15fr;
  /* margin-left: 4.6rem; */
}

.index-main {
  display:grid;
  grid-template-columns: 100vw;
  grid-template-rows: 110vh 14vh;
}
.index-description {
  grid-template-columns: 48fr 52fr;
  height: 75vh;
}
.index-description-text {
  margin-left: 2rem;
}

.description-container {
  justify-content: center;
}

.zoom-button {
  transition: transform .2s;
}
.zoom-button:hover {
  transform: scale(1.1);
  color: #ff9086;
}

.zoom-image {
  transition: transform .2s;
}
.zoom-image:hover {
  transform: scale(1.4);
}
.zoom-image > * {
  transition: transform .4s;
}
.zoom-image:hover > * {
  transform: translateY(-250px);
}

.underline-button {
  position: relative;
}
.underline-button:hover {
  color: #ff9086;
}
.underline-button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff9086;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
.underline-button:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.foot {
  height: 125px;
  grid-template-columns: 15fr 15fr 30fr 25fr;
}
.footerTitle {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-transform: uppercase;
  padding-left: 1em;
  transform: rotate(180deg);
}
.socialButton {
  width: 45px;
  height: 45px;
}
.footerInfoWrapper {
  display: flex;
  justify-content: flex-start;
}

/* for mobile design */
@media (orientation: landscape) and (max-width: 926px),
only screen and (max-width: 760px) {
  h2 {
    font-size: 1.8rem;
  }

  /* home/index page */
  .index-main {
    display: flex;
  }

  .index-description {
    grid-template-columns: 100%;
    height: 100vh;
  }

  .index-description-text {
    margin-left: 0;
    margin-top: 1.8rem;
  }

  .description-container {
    justify-content: flex-start;
  }

  /* about page */
  .about {
    grid-template-rows: 250vw 60vw 3000vw 40vw;
  }

  /* for page links / headers */
  .headers {
	grid-template-columns: 28fr 18fr 18fr 18fr;
	left: 0;
	right: 0;
  }

  /* For footer */
  .foot {
    height: 420px;
    grid-template-columns: 100fr;
    grid-template-rows: 25fr 25fr 25fr 25fr;
  }
  .footerTitle {
    writing-mode: unset;
    font-size: 16px;
    transform: rotate(0deg);
    text-orientation: unset;
    padding-left: 0;
  }
  .footerInfoWrapper {
    display: block;
    padding-left: 1em;
  }
  .footerInfoWrapper div {
    margin-top: 1em;
  }
  .socialButton {
    width: 36px;
    height: 36px;
  }
  /* join page layout */
  .join {
    grid-template-rows: 110vh 50vh 40vh;
  }

  /* for long head lines */
  .long-title {
    margin-bottom: 4.7rem;
  }
}

/* for animation effect */
/* .index-description, .about-content, .join-content {
  animation-duration: 1s;
  animation-name: slidedown;
} */

@keyframes slidedown {
  from {
    opacity: 0;
    margin-top: 30%;
    width: 100%;
  }

  to {
    opacity: 1;
    margin-top: 0%;
    width: 100%;
  }
}
